@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
}

:root {
    --nav-bar-bg: #6264a7;
    --secondary: #6264a7;
    --bg: #f3f2f1;
    --white: #fff;
    --red: #ce1111;
}

body {
    background-color: var(--bg);
}

ul {
    list-style: none;
}

/**
 * Header
 */

header {
    background-color: var(--nav-bar-bg);
    height: 70px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

header .logo {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}
header .logo img {
    height: 40px;
}

/**
 * Main content
 */

main {
    margin-top: 100px;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

 /**
  * Todo Box
  */

.todo-box {
    background-color: var(--white);
    box-shadow: 0px 0px 10px 0px #e8e8e8;
    margin-top: 30px;
    padding: 30px;
}

.todo-box input[type="text"] {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 0px #e2e2e2;
    padding: 15px 10px;
    width: 100%;
}

.todo-box input[type="text"]:focus {
    box-shadow: 0px 0px 10px 0px var(--secondary);
}

.todo-box input[type="checkbox"] {
    margin-right: 7px;
}

.todo-box .list li {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.todo-box .list li:hover {
    background-color: var(--bg);
}

.todo-box .list li button {
    background-color: transparent;
    color: var(--red);
    cursor: pointer;
    padding: 10px;
}

.todo-box .add-task {
    display: flex;
    margin-bottom: 30px;
}

.todo-box .add-task button {
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    padding: 0 20px;
}

.todo-box .footer {
    color: #6264a7;
    font-size: 13px;
    padding: 10px 0;
}